.contenedor{
	padding: 2%;
	width: 90%;
	margin: auto;
}

.titulo{
	color: #21618C;
	grid-column: span 3;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 40px;
}

.card{
	border-radius: 10px;
	width: 90%;
	min-width: 350px;
	margin: auto;	
}

.card-title{
	font-size: 30px;
	font-weight: bolder;
}

