.contenedor{
	width: 90%;
	padding: 2%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.titulo{
	color: #21618C;
	grid-column: span 2;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 40px;
}

.card{
	height: 100%;
	border-radius: 10px;
	width: 100%;
	min-width: 350px;
	margin: auto;
}

.titulos{
	font-weight: bold;
}

.texto{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

